body {

    background-image: url(Fondos/Clase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     background-attachment:fixed ;

    
    margin: 0px;
    
}

table {

    background-color:rgb(87, 116, 134);

}

.card {
    background-color:rgb(87, 116, 134);

    margin: 70px;
    

}

.card-header {

    background-color:rgb(87, 116, 134);

}

.card {

    width: 80%;

}
